<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form action="/process-login" method="post">
    <p><label for="username">Username:</label></p>
    <p><input type="text" id="username" name="username" required></p>
    <p><label for="password">Password:</label></p>
    <p><input type="password" id="password" name="password" required></p>
    <p><button type="submit">Login</button></p>
    <!-- Error message section -->
    <p style="color:red;" th:text="${errorMessage}"></p>
</form>
</body>
</html>
