<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body>
<h2>Register</h2>
<form action="/register" method="post">
    <p><label for="username">Username:</label></p>
    <p><input type="text" id="username" name="username" required></p>

    <p><label for="password">Password:</label></p>
    <p><input type="password" id="password" name="password" required></p>

    <p><label for="email">Email:</label></p>
    <p><input type="email" id="email" name="email" required></p>

    <p><label for="fullName">Full Name:</label></p>
    <p><input type="text" id="fullName" name="fullName" required></p>

    <p><label for="phoneNumber">Phone Number:</label></p>
    <p><input type="text" id="phoneNumber" name="phoneNumber" required></p>

    <p><button type="submit">Register</button></p>
</form>
</body>
</html>
